back_end/.venv/
back_end/servico_GCL/__pycache__/
back_end/servico_GCL/nohup.out
back_end/servico_GCL/dicionario_legislacao.dic
back_end/servico_GCL/dicionario_legislacao1.dic
back_end/servico_GCL/Entities/__pycache__/
back_end/servico_AILA/__pycache__/
back_end/servico_AILA/nohup.out
experimento/.venv/
experimento/__pycache__/
experimento/nohup.out
experimento/pesquisas_data.csv
experimento_teste/.venv/
experimento_teste/__pycache__/
experimento_teste/nohup.out
experimento_teste/pesquisas_data.csv
.idea