legislacoes.json
acordaos_stf_v2.json
acordaos_stj_v4.json
acordaos_todos_tjce.json
sumulas_stf.json
sumulas_stj.json
sumulas_tjce.json
sumulas_vinculantes_stf.json
back_end/.venv/
back_end/servico_GCL/__pycache__/
back_end/servico_GCL/nohup.out
back_end/servico_GCL/dicionario_legislacao.dic
back_end/servico_GCL/dicionario_legislacao1.dic
back_end/servico_GCL/Entities/__pycache__/
back_end/servico_AILA/__pycache__/
back_end/servico_AILA/nohup.out
experimento/.venv/
experimento/__pycache__/
experimento/nohup.out
experimento/pesquisas_data.csv
experimento_teste/.venv/
experimento_teste/__pycache__/
experimento_teste/nohup.out
experimento_teste/pesquisas_data.csv
.idea
